@{
    ViewBag.Title = "Home Page";
}

<h1>Total divisions</h1>@ViewBag.TotalDivisions
<h1>Total Depts</h1>@ViewBag.TotalDepts
<h1>Total Designations</h1>@ViewBag.TotalDesignations
<h1>Total Sections</h1>@ViewBag.TotalSections
<h1>Total Employees</h1>@ViewBag.TotalEmployees